*{
    margin: 0;
    padding: 0;
}

#main_container{
    display: flex;
    flex-direction: row;
    width: 100%;

    @media screen and (min-width: 1024px){
        height: 90vh;
        border: 2px solid pink;

        display: flex;
        flex-direction: row;
    }
}
.container-desk{

    @media screen and (min-width: 1024px){
border: 2px solid green;
width: 50%;
}
}


#container-login{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    color: #36343458;

    @media screen and (min-width: 1024px){
        
        border: 2px blue solid;
        width: 20%;
        margin: 6rem;
    }
} 

.header{
    display: flex;
    flex-direction: row;
    align-items: baseline;

    
}

.logo{
width: 50%;
align-self: center;
margin: auto;
margin-bottom: 3rem;

@media screen and (min-width: 1024px){
    margin: 1rem;
}

}

/* .arrow_left{

} */

#login_main_title{
    font-size: 2.5em;
    margin-bottom: 2.2rem;
    color: black;
}

.logo_sign_up{

margin-right: 4.9rem;
}

input{
    padding: 1rem;
    width: 100%;
    max-width: 90%;
    margin-bottom: 1.2rem;
    color: #36343458;
}

.checkbox_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: baseline;
}

.age_testament{
    width: 100%;
}

.checkbox_container input{
    margin: auto;
    width: 8%;
}
.button_login{
    background-color: #35A7FF;
    color: aliceblue;
    border: none;
    padding: 1.2rem ;
    border-radius: 2rem;
    width: 100%;
    margin: 4rem 0 1rem 0;
}

.button_link{
    background-color: transparent;
    border: none;
    color: #35A7FF;
    text-decoration: underline;
    font-size: 1rem;
}

#container-login p{
    font-size: 1rem;
    align-self: center;
    color: black;
}

// desktop

.blue_part{
    display: none;
    
    @media screen and (min-width: 1024px){
        display: block;
        background-color: #35A7FF;
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

}